.card-img {
  padding: 0;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 5px 10px -5px silver;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 0 0;
  width: 26vw;
  box-shadow: 1px 2px 5px -1px silver;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  border-radius: 0.5rem;
}

.card-article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-article-content {
  display: flex;
  flex-direction: column;
}

.card-article-title-link {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.card-article-subtitle {
  display: flex;
  justify-content: space-between;
  margin-top: 0.1rem;
  align-items: center;
  color: #457b9d;
  font-size: 0.95rem;
}

.card-article-date {
  display: flex;
  flex-direction: row;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  align-items: center;
}

.card-article-footer {
  display: flex;
  flex-direction: column;
}

.card-article-tags {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.2em;
}

.card-article-tag {
  padding: 0.4em;
  background-color: silver;
  font-size: smaller;
  border-radius: 1em;
  margin-right: 1em;
}

.card-article-button {
  font-size: 1.0em;
}

.card-article-link {
  text-decoration: none;
  border-radius: 0.5em;
  color: #f1faee;
  background-color: #457b9d;
  padding: 0.5em;
  box-shadow: 1px 1px 1px 0px gray;
  transition: all 300ms;
}

.card-article-link:hover {
  text-decoration: underline;
  background-color: #1d3557;
}

.calendar-icon {
  margin-right: 0.5rem;
}