.card-img {
  padding: 0.5rem;
  border-radius: 1rem;
  margin-right: 1rem;
  width: 50%;
  height: 50%;
  box-shadow: 1px 1px 1px 0px whitesmoke;
}

.card-article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-article-content {
  display: flex;
  flex-direction: column;
}

.card-article-title {
  letter-spacing: 1px;
  font-size: 2rem;
}

.card-article-date {
  display: flex;
  flex-direction: row;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  align-items: center;
}

.card-article-footer {
  display: flex;
  flex-direction: column;
}

.card-article-tags {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.0em;
}

.card-article-tag {
  padding: 0.4em;
  background-color: silver;
  font-size: small;
  border-radius: 1em;
  margin-right: 1em;
}

.card-article-link {
  text-decoration: none;
  border-radius: 0.5em;
  color: #f1faee;
  background-color: #457b9d;
  padding: 0.4em;
  box-shadow: 1px 1px 1px 0px gray;
}

.calendar-icon {
  margin-right: 0.5rem;
}