.stories {
  color: #1d3557;
  font-family: sans-serif;
}

.stories-titlebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: silver;
  margin-bottom: 1.0em;
}

.stories-title {
  font-size: 2em;
  font-weight: 500;
}

#read-all {
  color: #457b9d;
  font-size: medium;
  text-decoration: none;
}

#read-all:hover {
  text-decoration: underline;
}

#read-all:visited {
  color: #6405fc;
}

.article-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.article-title-link {
  color: #1d3557;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 1.5rem;
}

.article-title-link:hover {
  text-decoration: underline;
}

.article-title-link:visited {
  color: #1d3557;
}

.big-card {
  display: flex;
  padding: 0.5em;
  margin-top: 1em;
  margin-bottom: 2em;
  border-radius: 0.5em;
  box-shadow: 2px 2px 3px 0px silver;
}

.big-card-img {
  padding: 0;
  border-radius: 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 1px 0px whitesmoke;
}

.big-card-article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.big-card-article-title {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 2rem;
  color: #1d3557;
}

.big-card-article-title:visited {
  color: #1d3557;
}